body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

.login-container {
    width: 100%;
    max-width: 400px;
    /* background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px; */
}

.login-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 60px;
    text-align: center;
}

.error-message {
    margin-bottom: 16px;
    color: #dc2626;
}

.form-group {
    margin-bottom: 30px;
}

.form-input {
    width: 100%;
    height: 50px;
    padding: 10px 12px;
    border: 1px solid #B2A0DC;
    border-radius: 20px;
    box-sizing: border-box;
}

.input-error {
    border-color: #dc2626;
}

.error-text {
    color: #dc2626;
    font-size: 14px;
    display: block;
    margin-top: 4px;
}

.login-button {
    width: 100%;
    background-color: #B2A0DC;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 12px;
    height: 50px;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-bottom: 20px;
    /* font-family: 'Open Sans'; */
}

.login-button:hover {
    background-color: #a58fd7;
}

.auth-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.auth-link{
    color: #691DC7;
}


